{% load humanize %}

<!DOCTYPE html>
<head>

        <script type="../../static/art/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/art/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/art/bootstrap.css">
</head>
{%include "art/navigation.html" %}
<div>

  <div class="margin_left">
    <img src="../../static/art/images/{{art.image}}" />
  </div>
  <div class="margin_left" id="text">
      <ul class="storeList">
        <li>Item: {{ art.item_name }}</li>
        <li>Type: {{ art.item_type }}</li>
        <li>${{ art.price |floatformat:2|intcomma }}</li>
        <li>Qty: {{ art.quantity }}</li>
      </ul> 
 <div>
 <div class="margin_left">
    {% if art.quantity == "0" %}
      <h3 class="out_of_stock">Sorry! We are all out of this product.</h3>
      
    {% else %}
      <a class="btn btn-primary" href="/checkout/{{ art.id }}/"> Purchase</a>
    {% endif%}
    
 </div>

</div>
</html>
