{% load humanize %}
<!DOCTYPE html>
<head>

        <script type="../static/art/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/art/style.css">
        <link rel="stylesheet" type="text/css" href="../static/art/bootstrap.css">
</head>
{%include "art/navigation.html" %}
<div>
	{% if latest_art %}
	    <ul class="storeList">
	    {% for art in latest_art %}
        <div class="left_div">
          <img class="store_img" src="../static/art/images/{{art.image}}" />
        </div>
        <div id="text">
	        <li>
            <a class="artLink" href="/detail/{{ art.id }}/">
            <ul class="storeList">
              <li>Item: {{ art.item_name }}</li>
              <li>Type: {{ art.item_type }}</li>
              <li>${{ art.price |floatformat:2|intcomma}}</li>
              <li>Qty: {{ art.quantity }}</li>
             </ul> 
            </a>
          </li>
        <div>
        <hr>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No art items are available.</p>
	{% endif %}
</div>
</html>
